.project-cont {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 1.5em;
    place-items: center;
    margin: 1em 2em 1em 2em;
}

#project-links button {
    width: 100%
}

#project-img {
    top: 0;
    margin-bottom: 2em;
}

#project-icons {
    bottom: 0;
}

#project-links {
    justify-content:baseline;
}

#project-description {
    justify-content: center;
    align-items: center;
}

p {
    max-width: 75ch;
}

