.c1{
    z-index: 5;
    position: absolute;
    left: 400px;
    top: 200px;
    width: 100px;
    height: 100px;
    border-radius: 50%;
    background: red;
}

.c1:hover{
    transform: scale(1.2);
    transition: transform .2s;
}

.c2{
    z-index: 6;
    position: absolute;
    left: 350px;
    top: 250px;
    width: 100px;
    height: 100px;
    border-radius: 50%;
    background: green;
}

.c2:hover{
    transform: scale(1.2);
    transition: transform .2s;
}

.c3{
    z-index: 5;
    position: absolute;
    left: 300px;
    top: 300px;
    width: 100px;
    height: 100px;
    border-radius: 50%;
    background: orange; 
}

.c3:hover{
    transform: scale(1.2);
    transition: transform .2s;
}

.c4{
    z-index: 6;
    position: absolute;
    left: 350px;
    top: 350px;
    width: 100px;
    height: 100px;
    border-radius: 50%;
    background: lightblue;
}

.c4:hover{
    transform: scale(1.2);
    transition: transform .2s;
}
            
.c5{
    z-index: 5;
    position: absolute;
    left: 400px;
    top: 400px;
    width: 100px;
    height: 100px;
    border-radius: 50%;
    background: red; 
}      
   
.c5:hover{
    transform: scale(1.2);
    transition: transform .2s;
}

.c6{
    z-index: 4;
    position: absolute;
    left: 450px;
    top: 350px;
    width: 100px;
    height: 100px;
    border-radius: 50%;
    background: gray;
}
   
.c6:hover{
    transform: scale(1.2);
    transition: transform .2s;
}

.c7{
    z-index: 3;
    position: absolute;
    left: 500px;
    top: 300px;
    width: 100px;
    height: 100px;
    border-radius: 50%;
    background: lightblue;
}

.c7:hover{
    transform: scale(1.2);
    transition: transform .2s;
}

.c8{
    z-index: 6;
    position: absolute;
    left: 450px;
    top: 250px;
    width: 100px;
    height: 100px;
    border-radius: 50%;
    background: orange; 
}

.c8:hover{
    transform: scale(1.2);
    transition: transform .2s;
}


.a1{
    z-index: 6;
    position: absolute;
    left: 400px;
    top: 600px;
    width: 100px;
    height: 100px;
    border-radius: 50%;
    border: 1px solid orange;
}

.a2{
    z-index: 6;
    position: absolute;
    left: 365px;
    top: 615px;
    width: 100px;
    height: 100px;
    border-radius: 50%;
    border: 1px solid orange;
}

.a3{
    z-index: 6;
    position: absolute;
    left: 350px;
    top: 650px;
    width: 100px;
    height: 100px;
    border-radius: 50%;
    border: 1px solid orange;
}

.a4{
    z-index: 6;
    position: absolute;
    left: 365px;
    top: 685px;
    width: 100px;
    height: 100px;
    border-radius: 50%;
    border: 1px solid orange;
}

.a5{
    z-index: 6;
    position: absolute;
    left: 400px;
    top: 700px;
    width: 100px;
    height: 100px;
    border-radius: 50%;
    border: 1px solid orange;
}

.a6{
    z-index: 6;
    position: absolute;
    left: 435px;
    top: 685px;
    width: 100px;
    height: 100px;
    border-radius: 50%;
    border: 1px solid orange;
}

.a7{
    z-index: 6;
    position: absolute;
    left: 450px;
    top: 650px;
    width: 100px;
    height: 100px;
    border-radius: 50%;
    border: 1px solid orange;
}

.a8{
    z-index: 6;
    position: absolute;
    left: 435px;
    top: 615px;
    width: 100px;
    height: 100px;
    border-radius: 50%;
    border: 1px solid orange;
}