.pacman {
    z-index: 1;
    width: 100px;
    height: 100px;
    border-radius: 50%;
    background: #F2D648;
    position: absolute;
    /* margin-top: 20px; */
}
  
.pacman__eye {
    z-index: 2;
    position: absolute;
    width: 10%;
    height: 10%;
    border-radius: 50%;
    top: 10%;
    right: 40%;
    background: #333333;
}
.pacman__mouth-1 {
    z-index: 3;
    background: rgb(255, 255, 255);
    position: absolute;
    width: 100%;
    height: 100%;
    clip-path: polygon(110% 74%, 44% 48%, 110% 21%);
}

.pacman__mouth-2 {
    z-index: 3;
    background: rgb(255, 255, 255);
    position: absolute;
    width: 100%;
    height: 100%;
    clip-path: polygon(110% 55%, 44% 48%, 110% 35%);
}

.btn {
    display: block;
    align-self: center;
    text-align: center;
    margin: auto;
    position:relative; 
    /* top: 10em;  */
    margin-top: 0em;
    font-size: 1.5em;
    width: 100%;
}

button {
    z-index: 10;
    position: relative;
}

body {
    background-color: white;
    background: none;
}

/* footer {
    position: relative;
} */

/* main {
    margin-top: 3em;
} */

a {
    color: inherit;
    text-decoration: none;
}

#box {
    /* display: block; */
    width: 100%;
    height: 100%;
}

nav {
    opacity: 0.4;
}